* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.contact-bar {
  display: flex;
}

.nav-item {
  margin-left: 25px;
  font-size: 0.9rem;
  font-weight: 500;
}
.nav-item a {
  color: #000000 !important;
}

.navbar {
  justify-content: space-between;
  padding: 0;
}

.navbar-collapse {
  flex-grow: 0;
}

.phone {
  background-color: #b61984;
  border-radius: 20px;
  padding: 0.7rem 1.3rem !important;
}
.phone span {
  color: #ffffff;
}
.phone i {
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: block;
  }
}
#aboutUs {
  position: relative;
  z-index: 1;
  padding: 65px 0;
  width: 100%;
}
#aboutUs .aboutUs__content {
  display: flex;
  align-items: center;
}

.aboutUs__title h4 {
  color: #b61984;
  font-size: 1.1rem;
  font-weight: 600;
}

.aboutUs__title h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

#bg1 {
  position: absolute;
  z-index: 1;
  top: 0;
}
#bg1 img {
  width: 100%;
  height: auto;
}

#bg2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
#bg2 img {
  width: 100%;
  height: auto;
}

#teacher {
  position: relative;
  width: 100%;
}
#teacher .row {
  gap: 20px;
}
#teacher .teacher__bg {
  background-color: #dcd1f3;
}
#teacher .teacher__bg #bg3 {
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-color: #dcd1f3;
}
#teacher .teacher__bg #bg3 img {
  width: 100%;
  height: auto;
}
#teacher .teacher__content {
  padding-top: 2rem;
  position: relative;
  z-index: 3;
}

.card {
  width: 270px;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.7s;
}
.card h6 {
  color: #b61984;
  font-size: 0.75rem;
}
.card h4 {
  font-size: 1.55rem;
  font-weight: 700;
}
.card img {
  transition: all 0.7s;
}
.card img:hover {
  transform: scale(1.1);
}
.card .card-top {
  overflow: hidden;
}
.card:hover {
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.151);
}

#course {
  padding: 4rem 0;
  position: relative;
}
#course .course__content {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
#course img {
  width: 100%;
  height: auto;
}
#course h1 {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  padding: 2.5rem 0;
}
#course .card {
  text-align: left;
  padding: 0 25px;
}
#course .card-body {
  padding: 0;
}
#course .course__input {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
#course .course__input__name {
  position: relative;
  margin-right: 15px;
}
#course .course__input__name input {
  border: none;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 0 10px 0 30px;
  border-radius: 50px;
  transition: all 0.6s;
}
#course .course__input__name input:focus {
  border: 1px solid rgba(0, 0, 0, 0.404);
  box-shadow: none;
}
#course .course__input__name i {
  position: absolute;
  color: #b61984;
  top: 11px;
  left: 10px;
}
#course .course__input__email {
  position: relative;
  margin-bottom: 15px;
}
#course .course__input__email input {
  border: none;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 0 10px 0 30px;
  border-radius: 50px;
  transition: all 0.6s;
}
#course .course__input__email input:focus {
  border: 1px solid rgba(0, 0, 0, 0.404);
  box-shadow: none;
}
#course .course__input__email i {
  position: absolute;
  color: #b61984;
  top: 11px;
  left: 10px;
}
#course .course__select {
  position: relative;
  margin-bottom: 15px;
}
#course .course__select select {
  border: none;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 0 10px 0 30px;
  border-radius: 50px;
  transition: all 0.6s;
}
#course .course__select select:focus {
  border: 1px solid rgba(0, 0, 0, 0.404);
  box-shadow: none;
}
#course .course__select i {
  position: absolute;
  color: #b61984;
  top: 11px;
  left: 10px;
}
#course .course__input__message {
  position: relative;
  margin-bottom: 45px;
}
#course .course__input__message textarea {
  border: none;
  padding: 10px 10px 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 20px;
  width: 100%;
  transition: all 0.6s;
}
#course .course__input__message textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.404);
  box-shadow: none;
}
#course .course__input__message textarea:focus-visible {
  outline: none;
}
#course .course__input__message i {
  position: absolute;
  color: #b61984;
  top: 15px;
  left: 11px;
}
#course button {
  border-radius: 50px;
  width: 9rem;
  height: 3rem;
  background-color: #b61984;
  color: #ffffff;
  border: 1px solid #b61984;
  margin-bottom: 60px;
}
#course .bg4 {
  position: absolute;
  z-index: -1;
  bottom: 0;
}
#course .bg4 img {
  width: 100%;
  height: auto;
}

footer {
  position: relative;
  padding: 120px 0;
}
footer .bg5 {
  position: absolute;
  top: 0;
  z-index: -1;
}
footer .bg5 img {
  width: 100%;
  height: auto;
}
footer .footer__item {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}
footer .footer__item h4 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}
footer .footer__item .footer__item__info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer .footer__item .footer__item__info p {
  margin: 0;
}
footer .footer__item .footer__item__info i {
  margin-right: 15px;
}
footer .footer__item .footer__item__info:last-child {
  margin-top: 25px;
}
footer .footer__item ul li {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #990171;
}
footer .footer__item ul a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.6s;
}
footer .footer__item ul a:hover {
  color: #fda2e0;
}
footer .footer__item input {
  font-size: 13px;
  border-radius: 50px;
  background-color: #aa017e;
  padding: 1.5rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.13) !important;
  margin-bottom: 10px;
}
footer .footer__item input::-moz-placeholder {
  color: #ffffff;
}
footer .footer__item input:-ms-input-placeholder {
  color: #ffffff;
}
footer .footer__item input::placeholder {
  color: #ffffff;
}
footer .footer__item input:focus {
  box-shadow: none;
  color: #ffffff;
  background-color: #aa017e;
  border: 1px solid #ffffff !important;
}
footer .footer__item button {
  text-align: center;
  width: 100%;
  padding: 0.9rem;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-weight: 600;
}
footer .footer__ul {
  display: flex;
}/*# sourceMappingURL=styles.css.map */