header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.contact-bar {
  display: flex;
}

.nav-item {
  margin-left: 25px;
  font-size: 0.9rem;
  font-weight: 500;

  & a {
    font-weight: 600;
    color: $color-black !important;
    transition: all 0.2s;

    &:hover {
      color: #b61984 !important;
    }
  }
}

.navbar {
  justify-content: space-between;
  padding: 0;
}

.navbar-collapse {
  flex-grow: 0;

  & .navbar-nav {
    align-items: center;
  }
}

.phone {
  background-color: #b61984;
  border-radius: 20px;
  padding: 0.7rem 1.3rem !important;
  border: 1px solid #b61984;
  transition: all 0.6s !important;

  & i,
  span {
    color: $color-white;
  }

  &:hover {
    background-color: $color-white;
    & i,
    span {
      color: #b61984;
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: block;
  }
}
