#teacher {
    position: relative;
    width: 100%;

    & .row {
        gap: 20px;
    }

    & .teacher__bg {
        background-color: #dcd1f3;

        & #bg3{ 
            position: absolute;
            bottom: 0;
            z-index: 0;
            background-color: #dcd1f3;
                
            & img{
                width: 100%;
                height: auto;
            }
        }
    }
    

    & .teacher__content {
        padding-top: 2rem;
        position: relative;
        z-index: 3;
    }
}


.card {
    width: 270px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.7s;

     & h6 {
        color: #b61984;
        font-size: 0.75rem;
    }

     & h4 {
        font-size: 1.55rem;
        font-weight: 700;
    }
    
    & img {
        transition: all 0.7s;
    }

    & img:hover {
        transform: scale(1.1);
    }

    & .card-top {
        overflow: hidden;
    }

    &:hover {
        box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.151)
    }
    
}