//Colors
$color-black: #000000;
$color-gray: #abb8c3;
$color-white: #ffffff;
$color-pink: #f78da7;
$color-red: #cf2e2e;
$color-orange: #ff6900;
$color-amber: #fcb900;
$color-light-green: #7bdcb5;
$color-vivid-green: #00d084;
$color-pale-blue: #8ed1fc;
$color-vivid-blue: #0693e3;
$color-purple: #9b51e0;

//Fonts
$fs-sm: 13px;
$fs-md: 20px;
$fs-lg: 36px;
$fs-xl: 42px;

